apt update
apt upgrade 
pkg install git
pkg install python
pkg install python2
pip install requests
pip install socks
pip install sockets
pip install colorama
pip install threading
pip install urllib
